<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom" *ngIf="auth.user$ | async as user">
  <div class="container">
    <a class="navbar-brand" routerLink="/"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="user.role === 'ADMIN'"><a class="nav-link" routerLink="/clientes">Clientes</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/produtos">Produtos</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/pedidos">Pedidos</a></li>
      </ul>
      <div class="d-flex align-items-center gap-2">
        <span class="small text-muted">{{ user.name }}</span>
        <button class="btn btn-outline-secondary" type="button" (click)="auth.logout()" routerLink="/login">Sair</button>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
